*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
       background-color:black;
       display: flex;
       place-items: center;
       min-height:100vh;
   }
   main{
       display: grid;
       grid-template-areas: 
       "A A A B B"
       "C C D D D"
       
       ;
       margin: auto;
       gap: 10px;
       width: 50%;
   }
   main div{
       padding: 2em;
       text-align: center;
       border-radius: 2px;
   }
   .grid-A{
       background-color: rgba(255, 68, 0, 0.801);
       grid-area: A;
       width: 100%;
       height:30vh ;
   }
   .grid-B{
    background-color: orange;
    grid-area: B;
    width: 100%;
    height: 30vh;
   }
   .grid-C{
    background-color: rgba(0, 128, 0, 0.815);
    grid-area: C;
    width: 100%;

   }
   .grid-D{
    background-color: rgb(7, 179, 247);
    grid-area: D;
    width: 100%;
    flex: 0 0 50px;
    display: grid;
    
}
 
  
    

  