* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    width: 70%;
    flex-direction: row;
    text-align: left;
    color: white;
}

.first-div {
    background-color: orange;
    padding: 3em;
    width: 100%;
    height: 70vh;
}

.second-div {
    padding: 3em;
    background-color: green;
    width: 100%;
    height: 70vh;
}

.third-div {
    padding: 3em;
    background-color: rgb(8, 99, 56);
    width: 100%;
    height: 70vh;
}

.button-style {
    background-color: white;
    color: orange;

    font-size: bold;
    height: 2vh;
    width: 60%;
    padding-bottom: 2em;
    padding-top: 1em;
    cursor: pointer;
    border-radius: 20px;
    border-color: white;
}

.button-style2 {
    background-color: white;
    color: green;
    font-size: bold;
    height: 2vh;
    width: 60%;
    padding-bottom: 2em;
    padding-top: 1em;
    cursor: pointer;
    border-radius: 20px;
    border-color: white;
}

.button-style3 {
    background-color: white;
    color: rgb(8, 99, 56);

    font-size: bold;
    height: 2vh;
    width: 60%;
    padding-bottom: 2em;
    padding-top: 1em;
    cursor: pointer;
    border-radius: 20px;
    border-color: white;

}

h1 {
    font-style: inherit;
    margin: 10px;

}

p {
    margin: 30px;
    font-style: oblique;
}